<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLRAPCHIEUPHIMConnectionString"
            connectionString="Data Source=SPACE\SQLEXPRESS;Initial Catalog=QLRAPCHIEUPHIM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>